<div class="block-area wrapper wrapper-content animated fadeInRight" id="responsiveTable">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Nuevo Cliente</h1>
        </div>
        <div class="ibox-content">
          <%= render 'form', client: @client %>
        </div>
      </div>
    </div>
  </div>
</div>